* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body,
html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 50px;
}

.content {
    background-color: rgb(238,238,238);
    width: 100%;
    margin-bottom: 50px;
}

.content,
.up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up {
    width: 50%;
    justify-content: center;
    align-items: center;
}

#input {
    width: 75%;
    margin: 10px 0;
    padding: 3px;
}

.title {
    font-size: 20px;
}

button {
    padding: 3px;
    margin: 0 5px;
}

.buttonContainer {
    display: flex;
}


.parent {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.div2 {
    background-color: rgb(126,229,218);
    width: 35%;
}

.div3 {
    background-color: rgb(112,204,194);
    width: 25%;
}

.div4 {
    background-color: rgb(98,179,170);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.text{
    font-size: 18px;
}

.upperFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    margin-top: 3px;
}